@import url('https://fonts.googleapis.com/css?family=Pacifico');


@import url('https://fonts.googleapis.com/css?family=Sacramento');


.login {
    text-align: center;
    background: url(../img/h.jpg) no-repeat;
    background-size: auto;
    background-position: 60% top;
    height: 100vh;
}

.font{

font-family:'Sacramento', cursive; 
font-size: 65px;
color:white;
opacity: 0.8;

}


.hrc{

color: white;
opacity: 0.2;


}
p{
    opacity: 0.5;
}
